body {
	display: grid;
	/* grid-template-columns: 1fr; 2 колонки: нав+контент */
	grid-template-rows: auto 1fr;  /*2 строки: шапка+контент  */
	height: 100vh; 
	color: blue;

	/* fr-fraction(доля), значит "часть доступного свободного пространства"

	vh-viewport height (зависит от высоты окна браузера(viewport)), 100-вся высота экрана, 50-половина, 10-10% от высоты экрана
	vw-viewport width-ширина окна аналогично */

}

header {
	margin-bottom: 5px;
	padding: 5px;
	/* grid-column: 1 / 3; */
	grid-row: 1;
	/* border-bottom: 2px solid #65a954; */
	background-color:#b9e69b ;
	border-radius: 5px;
}
.header {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem; 

	/* про rem-единица, зависящая от размера шрифта элемента <html>, по умолчанию 16px
	есть у html {font-size:16px;}, то 1rem=16px, 2rem=32px, 0.75rem=12px */
}
.logo {
	height: 5em;
	width: auto;

	/* em зависит от размера шрифта коннкретно тут в хедере */
}
.slogan {
	font-family: 'Balsamiq Sans';
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 1.2;
	color: #ffffff !important;
}


.pets-pics {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap:20px;
	margin-top: 15px;
}

.pets-pics div {
	background: #b9e69b;
	border-radius: 8px;
	padding: 10px;
	text-align: center;
}

.pets-pics img {
	width: auto;
	height: 200px;
	border-radius: 5px;
}

 .pets-pics p {
	font-family: 'Balsamiq Sans';
	font-weight: 400;
	color: white;
 }

 button {
	background-color: #ffffff;
	color: #b9e69b;
	border-radius: 5px;
 }

 .misa {
	background-color: #b9e69b;
	width: 20px;
	height: 400px;
 }

 .korgi {
	background-color: #b9e69b;
	width: 20px;
	height: 100px;
 }

  .rigiy {
	background-color: #b9e69b;
	width: 20px;
	height: 300px;
 }

 .vote {
	margin-top: 30px;
	display: flex;
	gap:30%
 }

 h2::before {
	content: " 🐾 ";
 }
 h2 + p {
	font-style: italic;
 }

 /* h2 ~ .pets-pics p {
	color: black;
 } */
 
